In [1]:
import pandas as pd
import os
import numpy as np
from datetime import datetime

In [5]:
print("To load your datset please answer the  following questions.")
extension=input("Enter the extension of your dataset (csv, xlsx)")
name_file=input("Enter the name of your file: ")

if extension=="csv":
    separ=input("Enter the separation symbol of your data: ")
    df_to_clean = pd.read_csv(name_file, sep=separ)
    
if extension=="xlsx":
    name_sheet=input("Enter the name of the sheet: ")
    df_to_clean = pd.read_excel(name_file, sheet_name=name_sheet)
    
print("The dataset has been loaded, the first five rows are: ")
print(df_to_clean.head())

To load your datset please answer the  following questions.
Enter the extension of your dataset (csv, xlsx)xlsx
Enter the name of your file: data.xlsx
Enter the name of the sheet: data
The dataset has been loaded, the first five rows are:
   Unique_Index                        Seminar           Time_UT  \
0             0  CMU Core Model Theory Seminar  09/13/2022 17:30
1             1              CMU Logic Seminar   9/13/2022 19:30
2             2         Helsinki Logic Seminar   9/14/2022 11:00
3             3            CUNY Logic Workshop   9/16/2022 18:00
4             4  CMU Core Model Theory Seminar   9/20/2022 17:30

                                          Time_local  \
0  Tuesday, 13 September, 1:30 – 3:00pm Pittsburg...
1  Tuesday, 13 September,  3:30 – 4:30pm Pittsbur...
2  Wednesday, 14 September, 14:00 – 16:00 Helsink...
3  Friday, 16 September, 2:00 – 2:30 New York tim...
4  Tuesday, 20 September, 1:30 – 3:00pm Pittsburg...

                                             Speaker  \
0               Nam Trang, University of North Texas
1           Rick Statman, Carnegie Mellon University
2  Andres Villaveces, Universidad Nacional de Col...
3                                 Gunter Fuchs, CUNY
4               Nam Trang, University of North Texas

                                               Title  \
0  Core model induction toolbox and examples, part 1
1                                     Cayley Monoids
2                                                Tba
3                           The blurry HOD hierarchy
4  Core model induction toolbox and examples, part 2

                                            Abstract  \
0  This is the abstract for the first three to fo...
1  Everyone is familiar with Cayley’s regular rep...
2                                                Tba
3  Classically, an object is ordinal definable if...
4  This is the abstract for the first three to fo...

                                         Information Repository
0  Please contact Ernest Schimmerling in advance ...        NaN
1                           See the seminar webpage.        NaN
2  The talk will take plce in hybrid mode. Please...        NaN
3  The talk will take place in hybrid mode. Pleas...        NaN
4  Please contact Ernest Schimmerling in advance ...        NaN

In [4]:
data_columns=df_to_clean.columns
info_data="Your dataset contains the following columns:"
counter=0
space=" "
for column_info in data_columns:
    if counter==1:
        space=", "
    info_data=info_data + space + column_info
    counter=1
print(info_data+".")

Your dataset contains the following columns: Datum/Zeit, Produkt#, Produktname, Menge, Einzelpreis, Gesamtpreis.

In [5]:
for column in data_columns:
    print("The column ", column, "has", len(df_to_clean[column])-
          len(df_to_clean[df_to_clean[column].isnull()]), "values and",
         len(df_to_clean[df_to_clean[column].isnull()]), "missing values")
    print()

The column  Datum/Zeit has 180721 values and 0 missing values

The column  Produkt# has 180721 values and 0 missing values

The column  Produktname has 180720 values and 1 missing values

The column  Menge has 180721 values and 0 missing values

The column  Einzelpreis has 180721 values and 0 missing values

The column  Gesamtpreis has 180721 values and 0 missing values

In [6]:
print("The missing values are in the rows:")
for column in data_columns:
    if len(df_to_clean[df_to_clean[column].isnull()])==1:
        print(df_to_clean[df_to_clean[column].isnull()])

The missing values are in the rows:
                Datum/Zeit  Produkt# Produktname  Menge  Einzelpreis  \
90150  2019:03:19:17:46:43      1091         NaN    1.0          2.5

       Gesamtpreis
90150          2.5

In [7]:
types_columns=df_to_clean.dtypes
for column in data_columns:
    print("The column ", column, "has type", df_to_clean.dtypes[column])
    print()

The column  Datum/Zeit has type object

The column  Produkt# has type int64

The column  Produktname has type object

The column  Menge has type float64

The column  Einzelpreis has type float64

The column  Gesamtpreis has type float64

In [8]:
print("The following are the first 20 rows of your dataset:")
print(df_to_clean.head(20))

The following are the first 20 rows of your dataset:
             Datum/Zeit  Produkt#                     Produktname  Menge  \
0   2018:03:01:17:06:54      1063            BIEROL PADAWAN  0.30    1.0
1   2018:03:01:17:11:49      1155           PINZGA ZWICKL PITCHER    1.0
2   2018:03:01:17:11:50      1801        Flammkuchen Traditionell    1.0
3   2018:03:01:17:11:58      1803        Flammkuchen Vegetarisch     1.0
4   2018:03:01:17:16:06      1018  FRAU GRUBER GREEN IS LORD 0.30    1.0
5   2018:03:01:17:16:09      1023           WILDBEER TEPACHE 0.30    1.0
6   2018:03:01:17:18:18      1153              PINZGA ZWICKL 0.30    1.0
7   2018:03:01:17:18:49      1018  FRAU GRUBER GREEN IS LORD 0.30    2.0
8   2018:03:01:17:26:33      1033                 BIEROL MPA 0.30    1.0
9   2018:03:01:17:26:33      1123       SCHLÃ„GL ZWICKL BOCK 0.30    1.0
10  2018:03:01:17:34:24      1054           BIEROL AZTEC ALE 0.50    1.0
11  2018:03:01:17:35:27      1018  FRAU GRUBER GREEN IS LORD 0.30    1.0
12  2018:03:01:17:37:11      1092       WILDBEER MILLIONAIRE 0.20    1.0
13  2018:03:01:17:37:15      1173         BATZENBRÃ„U PORTER 0.30    1.0
14  2018:03:01:17:39:04      1173         BATZENBRÃ„U PORTER 0.30    1.0
15  2018:03:01:17:39:18      1073      FREIGEIST ÃœNDERWEÃ„R 0.30    1.0
16  2018:03:01:17:39:19      1083     HOFSTETTNER GRANITBOCK 0.30    1.0
17  2018:03:01:17:53:37      1092       WILDBEER MILLIONAIRE 0.20    1.0
18  2018:03:01:18:01:09      1154              PINZGA ZWICKL 0.50    1.0
19  2018:03:01:18:02:35      1043      GÃ„NSTALLER MANDARINA 0.30    1.0

    Einzelpreis  Gesamtpreis
0           4.3          4.3
1          13.2         13.2
2           6.8          6.8
3           6.8          6.8
4           4.8          4.8
5           5.8          5.8
6           3.3          3.3
7           4.8          9.6
8           4.3          4.3
9           3.7          3.7
10          6.8          6.8
11          4.8          4.8
12          3.2          3.2
13          4.3          4.3
14          4.3          4.3
15          5.8          5.8
16          4.3          4.3
17          3.2          3.2
18          4.4          4.4
19          4.3          4.3

In [9]:
codecs_options=["ascii", "big5", "big5hkscs", "cp037", "cp273", "cp424", "cp437",
               "cp500", "cp720", "cp737", "cp775", "cp850", "cp852", "cp855", "cp856",
                "cp857", "cp858", "cp860", "cp861", "cp862", "cp863", "cp864", "cp865", "cp866",
               "cp869", "cp874", "cp875", "cp932", "cp949", "cp950", "cp1006", "cp1026", "cp1125",
               "cp1140", "cp1250", "cp1251", "cp1252", "cp1253", "cp1254", "cp1255", "cp1256", "cp1257",
               "cp1258", "euc_jp", "euc_jis_2004", "euc_jisx0213", "euc_kr", "gb2312", "gbk", "gb18030", "hz",
                "iso2022_jp", "iso2022_jp_1", "iso2022_jp_2", "iso2022_jp_2004", "iso2022_jp_3", "iso2022_jp_ext",
               "iso2022_kr", "latin_1", "iso8859_2", "iso8859_3", "iso8859_4", "iso8859_5", "iso8859_6",
               "iso8859_7", "iso8859_8", "iso8859_9", "iso8859_10", "iso8859_11", "iso8859_13", "iso8859_14", 
                "iso8859_15", "iso8859_16", "johab", "koi8_r", "koi8_t", "koi8_u", "kz1048", "mac_cyrillic",
               "mac_greek", "mac_iceland", "mac_latin2", "mac_roman", "mac_turkish", "ptcp154", "shift_jis",
               "shift_jis_2004", "shift_jisx0213", "utf_32", "utf_32_be", "utf_32_le", "utf_16", "utf_16_be",
               "utf_16_le", "utf_7", "utf_8", "utf_8_sig"]
encoding_error=input("Is there a problem with special characters in the words? For example 'Ä' appears as 'Ã„' (y/n):")
if encoding_error=="y":
    example_word=input("Please enter an example the error, as it appears in the previous overview.")
    example_word_right=input("Please enter the example without error.")
    for option_1 in codecs_options:
        for option_2 in codecs_options:
            new_example_word=example_word.encode(option_1, 'ignore')
            new_encoding_word=new_example_word.decode(option_2, 'ignore')
            if new_encoding_word==example_word_right:
                print("The following codes write the example word correct. Encoding =",
                      option_1, ", decoding =", option_2, ", example word = ", new_encoding_word)
                print()
    print("Please choose the right endocing and decoding from the following list:")
    encoding=input("Enter encoding: ")
    decoding=input("Enter decoding: ")

Is there a problem with special characters in the words? For example 'Ä' appears as 'Ã„' (y/n):y
Please enter an example the error, as it appears in the previous overview.ÃœNDERWEÃ„R
Please enter the example without error.ÜNDERWEÄR
The following codes write the example word correct. Encoding = cp1252 , decoding = utf_8 , example word =  ÜNDERWEÄR

The following codes write the example word correct. Encoding = cp1252 , decoding = utf_8_sig , example word =  ÜNDERWEÄR

The following codes write the example word correct. Encoding = cp1254 , decoding = utf_8 , example word =  ÜNDERWEÄR

The following codes write the example word correct. Encoding = cp1254 , decoding = utf_8_sig , example word =  ÜNDERWEÄR

Please choose the right endocing and decoding from the following list:
Enter encoding: cp1252
Enter decoding: utf_8

In [10]:
column_error=input("Enter the column with the encoding error: ")
no_typo_produkt=[]
for produkt_element in range(len(df_to_clean[column_error])):
    produkt_typo=df_to_clean[column_error][produkt_element]
    
    if type(produkt_typo)==str:
        newstr=produkt_typo.encode(encoding, 'ignore')
        produkt_clean=newstr.decode(decoding, 'ignore')
        
    else:
        produkt_clean=produkt_typo
        
    no_typo_produkt.append(produkt_clean)

Enter the column with the encoding error: Produktname

In [12]:
df_no_typos=pd.DataFrame(columns=data_columns) 
for column in data_columns:
    if column==column_error:
        df_no_typos[column]=no_typo_produkt
    else:
        df_no_typos[column]=df_to_clean[column]

In [13]:
print("The following are the first 20 rows of your dataset with the new encoding:")
print(df_no_typos.head(20))

The following are the first 20 rows of your dataset with the new encoding:
             Datum/Zeit  Produkt#                     Produktname  Menge  \
0   2018:03:01:17:06:54      1063            BIEROL PADAWAN  0.30    1.0
1   2018:03:01:17:11:49      1155           PINZGA ZWICKL PITCHER    1.0
2   2018:03:01:17:11:50      1801        Flammkuchen Traditionell    1.0
3   2018:03:01:17:11:58      1803        Flammkuchen Vegetarisch     1.0
4   2018:03:01:17:16:06      1018  FRAU GRUBER GREEN IS LORD 0.30    1.0
5   2018:03:01:17:16:09      1023           WILDBEER TEPACHE 0.30    1.0
6   2018:03:01:17:18:18      1153              PINZGA ZWICKL 0.30    1.0
7   2018:03:01:17:18:49      1018  FRAU GRUBER GREEN IS LORD 0.30    2.0
8   2018:03:01:17:26:33      1033                 BIEROL MPA 0.30    1.0
9   2018:03:01:17:26:33      1123        SCHLÄGL ZWICKL BOCK 0.30    1.0
10  2018:03:01:17:34:24      1054           BIEROL AZTEC ALE 0.50    1.0
11  2018:03:01:17:35:27      1018  FRAU GRUBER GREEN IS LORD 0.30    1.0
12  2018:03:01:17:37:11      1092       WILDBEER MILLIONAIRE 0.20    1.0
13  2018:03:01:17:37:15      1173          BATZENBRÄU PORTER 0.30    1.0
14  2018:03:01:17:39:04      1173          BATZENBRÄU PORTER 0.30    1.0
15  2018:03:01:17:39:18      1073        FREIGEIST ÜNDERWEÄR 0.30    1.0
16  2018:03:01:17:39:19      1083     HOFSTETTNER GRANITBOCK 0.30    1.0
17  2018:03:01:17:53:37      1092       WILDBEER MILLIONAIRE 0.20    1.0
18  2018:03:01:18:01:09      1154              PINZGA ZWICKL 0.50    1.0
19  2018:03:01:18:02:35      1043       GÄNSTALLER MANDARINA 0.30    1.0

    Einzelpreis  Gesamtpreis
0           4.3          4.3
1          13.2         13.2
2           6.8          6.8
3           6.8          6.8
4           4.8          4.8
5           5.8          5.8
6           3.3          3.3
7           4.8          9.6
8           4.3          4.3
9           3.7          3.7
10          6.8          6.8
11          4.8          4.8
12          3.2          3.2
13          4.3          4.3
14          4.3          4.3
15          5.8          5.8
16          4.3          4.3
17          3.2          3.2
18          4.4          4.4
19          4.3          4.3

In [31]:
name_export_file=input("Enter the name for the new file: ")
name_export_file=name_export_file + ".csv"
df_no_typos.to_csv(name_export_file, index = False)

Enter the name for the new file: dfsasf

In [37]:
name_export_file=input("Enter the name for the new file: ")
name_export_file=name_export_file + ".xlsx"
#df_to_clean.to_excel(name_export_file, index = False)
df_to_clean.to_excel(r'/home/anu/Documents/aeddix/File Name.xlsx', index = False)

Enter the name for the new file: ghd

KeyboardInterrupt:

In [35]:
#working_directory=
os.getcwd()
#csv_name=working_directory + "/clean_data.csv"
#df_no_typos.to_csv(r'csv_name', index = False)

'/home/anu/Documents/aeddix'

In [21]:
#number_to_show=input("Enter the number of lines you would like to see: ")
#print(df_no_typos.head(int(number_to_show)))

Enter the number of lines you would like to see: 20
             Datum/Zeit  Produkt#                     Produktname  Menge  \
0   2018:03:01:17:06:54      1063            BIEROL PADAWAN  0.30    1.0
1   2018:03:01:17:11:49      1155           PINZGA ZWICKL PITCHER    1.0
2   2018:03:01:17:11:50      1801        Flammkuchen Traditionell    1.0
3   2018:03:01:17:11:58      1803        Flammkuchen Vegetarisch     1.0
4   2018:03:01:17:16:06      1018  FRAU GRUBER GREEN IS LORD 0.30    1.0
5   2018:03:01:17:16:09      1023           WILDBEER TEPACHE 0.30    1.0
6   2018:03:01:17:18:18      1153              PINZGA ZWICKL 0.30    1.0
7   2018:03:01:17:18:49      1018  FRAU GRUBER GREEN IS LORD 0.30    2.0
8   2018:03:01:17:26:33      1033                 BIEROL MPA 0.30    1.0
9   2018:03:01:17:26:33      1123        SCHLÄGL ZWICKL BOCK 0.30    1.0
10  2018:03:01:17:34:24      1054           BIEROL AZTEC ALE 0.50    1.0
11  2018:03:01:17:35:27      1018  FRAU GRUBER GREEN IS LORD 0.30    1.0
12  2018:03:01:17:37:11      1092       WILDBEER MILLIONAIRE 0.20    1.0
13  2018:03:01:17:37:15      1173          BATZENBRÄU PORTER 0.30    1.0
14  2018:03:01:17:39:04      1173          BATZENBRÄU PORTER 0.30    1.0
15  2018:03:01:17:39:18      1073        FREIGEIST ÜNDERWEÄR 0.30    1.0
16  2018:03:01:17:39:19      1083     HOFSTETTNER GRANITBOCK 0.30    1.0
17  2018:03:01:17:53:37      1092       WILDBEER MILLIONAIRE 0.20    1.0
18  2018:03:01:18:01:09      1154              PINZGA ZWICKL 0.50    1.0
19  2018:03:01:18:02:35      1043       GÄNSTALLER MANDARINA 0.30    1.0

    Einzelpreis  Gesamtpreis
0           4.3          4.3
1          13.2         13.2
2           6.8          6.8
3           6.8          6.8
4           4.8          4.8
5           5.8          5.8
6           3.3          3.3
7           4.8          9.6
8           4.3          4.3
9           3.7          3.7
10          6.8          6.8
11          4.8          4.8
12          3.2          3.2
13          4.3          4.3
14          4.3          4.3
15          5.8          5.8
16          4.3          4.3
17          3.2          3.2
18          4.4          4.4
19          4.3          4.3

In [ ]:
print(df_to_clean[4:5])

# Types check

In [8]:
data_columns=df_to_clean.columns#dtypes[column]

In [5]:
df_to_clean.dtypes["Einzelpreis"]

dtype('float64')

In [6]:
df_to_clean.dtypes

Datum/Zeit      object
Produkt#         int64
Produktname     object
Menge          float64
Einzelpreis    float64
Gesamtpreis    float64
dtype: object

In [44]:
df_to_clean.astype({"Produkt#": 'object'}).dtypes

Datum/Zeit      object
Produkt#        object
Produktname     object
Menge          float64
Einzelpreis    float64
Gesamtpreis    float64
dtype: object

In [10]:
df_to_clean.dtypes#["Produkt#"]

Datum/Zeit      object
Produkt#         int64
Produktname     object
Menge          float64
Einzelpreis    float64
Gesamtpreis    float64
dtype: object

In [11]:
df_new=df_to_clean.astype({"Produkt#": 'float64'})

In [47]:
df_new.dtypes

Datum/Zeit      object
Produkt#       float64
Produktname     object
Menge          float64
Einzelpreis    float64
Gesamtpreis    float64
dtype: object

In [46]:
df_new["Produkt#"]=df_new["Produkt#"].astype('float64')
df_new.dtypes

Datum/Zeit      object
Produkt#       float64
Produktname     object
Menge          float64
Einzelpreis    float64
Gesamtpreis    float64
dtype: object

In [3]:
df_new=df_to_clean

In [6]:
#df_new['Datum/Zeit'].astype('datetime64')
datetime_fixed=[]
for date_time_to_fix in df_new['Datum/Zeit']:
    datetime_fixed.append(datetime.strptime(date_time_to_fix, '%Y:%m:%d:%H:%M:%S'))

In [9]:

df_new_date_typos=pd.DataFrame(columns=data_columns) 
for column in data_columns:
    if column=='Datum/Zeit':
        df_new_date_typos[column]=datetime_fixed
    else:
        df_new_date_typos[column]=df_to_clean[column]

In [10]:
df_new_date_typos.dtypes

Datum/Zeit     datetime64[ns]
Produkt#                int64
Produktname            object
Menge                 float64
Einzelpreis           float64
Gesamtpreis           float64
dtype: object

In [62]:
date_format_complete=0
dateformat=""
date_symbols={"Weekday", "Year", "Month", "Day", "Hour", "Minute", "Second", "PM/AM"}
format_for_user=""
print("Please indicate the format of the date in the dataset.")
print()
while date_format_complete<7:
    message_options=""
    lenght_message=0
    for option_date in date_symbols:
        message_options=message_options+option_date
        lenght_message=lenght_message+1
        if lenght_message!=len(date_symbols):
            message_options=message_options+", "
            
    if date_format_complete==0:
        
        local_date_format=input("What appears first ("+message_options+")? ")
        if local_date_format == "Weekday":
            interpretator=weekday_function()
        elif local_date_format == "Year":
            interpretator=year_function()
        elif local_date_format == "Month":
            interpretator=month_function()
        elif local_date_format == "Day":
            interpretator=daynumber_function()
        elif local_date_format == "Hour":
            interpretator=hour_function()
        elif local_date_format == "Minute":
            interpretator="%M"
        elif local_date_format == "Second":
            interpretator="%S"
        elif local_date_format == "PM/AM":
            interpretator="%p"
        else:
            break

    
    else:
                
        local_date_format=input("What appears next ("+message_options+")? ")
        if local_date_format == "Weekday":
            interpretator=weekday_function()
        elif local_date_format == "Year":
            interpretator=year_function()
        elif local_date_format == "Month":
            interpretator=month_function()
        elif local_date_format == "Day":
            interpretator=daynumber_function()
        elif local_date_format == "Hour":
            interpretator=hour_function()
        elif local_date_format == "Minute":
            interpretator="%M"
        elif local_date_format == "Second":
            interpretator="%S"
        elif local_date_format == "PM/AM":
            interpretator="%p"
        else:
            break
        
    format_for_user=format_for_user+local_date_format
    dateformat=dateformat+interpretator    

    
    if date_format_complete<6:
        is_format_complete=input("Is the format '"+format_for_user+"' complete (y/n)?")
        if is_format_complete=="y":
            break
        else:
            separator_date_format=input("What separator appears next (:, -, /, etc)? ")
            dateformat=dateformat+separator_date_format
            format_for_user=format_for_user+separator_date_format
    
    date_format_complete=date_format_complete+1
    date_symbols=date_symbols-{local_date_format}
    
    return dateformat

Please indicate the format of the date in the dataset.

What appears first (Day, PM/AM, Month, Weekday, Second, Hour, Minute, Year)? Second
Is the format 'Second' complete (y/n)?n
What separator appears next (:, -, /, etc)?
What appears next (Day, PM/AM, Month, Weekday, Hour, Minute, Year)? PM/AM
Is the format 'SecondPM/AM' complete (y/n)?y
%S%p

In [58]:
def weekday_function():
    print("In which format is the weekday:")
    print("1) Weekday as abbreviated name.")
    print("2) Weekday as full name.")
    print("3) Weekday as a decimal number, where 0 is Sunday and 6 is Saturday.")
    week_format=int(input("Enter your choice: "))
    
    if week_format==1:
        return "%a"
    elif week_format==2:
        return "%A"
    elif week_format==3:
        return "%w"
    else:
        print("That was not a valid choice, the weekday format is set by default to the full name.")
        return "%A"

In [47]:
def year_function():
    print("In which format if the year:")
    print("1) Year without century number (00 - 99).")
    print("2) Year with century number (0000 - 9999).")
    week_format=int(input("Enter your choice: "))
    
    if week_format==1:
        return "%y"
    elif week_format==2:
        return "%Y"
    else:
        print("That was not a valid choice, the year format is set by default with century.")
        return "%Y"

In [47]:
def month_function():
    print("In which format if the month:")
    print("1) Month as abbreviated name.")
    print("2) Month as full name.")
    print("3) Month as number (01 - 12).")
    week_format=int(input("Enter your choice: "))
    
    if week_format==1:
        return "%b"
    elif week_format==2:
        return "%B"
    elif week_format==3:
        return "%m"
    else:
        print("That was not a valid choice, the month format is set by default to number of the month.")
        return "%m"

In [61]:
def daynumber_function():
    print("In which format is the day:")
    print("1) Day of the month (01 - 31).")
    print("2) Day of the year (001 - 366).")
    week_format=int(input("Enter your choice: "))
    
    if week_format==1:
        return "%d"
    elif week_format==2:
        return "%j"
    else:
        print("That was not a valid choice, the day format is set by default to day of the month.")
        return "%d"

In [61]:
def hour_function():
    print("In which format is the hour:")
    print("1) 24-hour clock.")
    print("2) 12-hour clock.")
    week_format=int(input("Enter your choice: "))
    
    if week_format==1:
        return "%H"
    elif week_format==2:
        return "%I"
    else:
        print("That was not a valid choice, the hour format is set by default to 24-hour.")
        return "%H"

In [36]:
no_data_loaded = {'Error_message': ['No dataset loaded']}

df_to_clean = pd.DataFrame(data=no_data_loaded)  
print(no_data_loaded["Error_message"][0])

No dataset loaded

In [38]:
if df_to_clean.columns[0]=='Error_message':
    print("no loaded")

no loaded

In [1]:
print("trieasdfd")

trieasdfd

# Test entries

In [1]:
clave="Es una clave"
print(clave)

Es una clave

In [2]:
nueva_clave=set(clave)
print(nueva_clave)

{' ', 'a', 'e', 's', 'u', 'l', 'v', 'c', 'n', 'E'}

In [5]:
enteros=1234
print(enteros)
enteros=str(enteros)
print(enteros)
cadenas=set(enteros)
print(cadenas)

1234
1234
{'3', '1', '4', '2'}

In [24]:
#df_to_clean.columns
set_of_entries = set()
for product in df_to_clean["Menge"][:50]:
    print(product)
    set_of_entries=set_of_entries.union(set(str(product)))
print(set_of_entries)

1.0
1.0
1.0
1.0
1.0
1.0
1.0
2.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
2.0
1.0
1.0
1.0
1.0
1.0
{'0', '.', '1', '2'}

In [16]:
import time

start = time.time()


set_of_entries = set()
for product in df_to_clean["Produktname"][0:len(df_to_clean["Produktname"])]:
    set_of_entries=set_of_entries.union(set(str(product)))
    
print(set_of_entries)

end = time.time()
print(end - start)

start = time.time()


set_of_entries = set()
for product in set(df_to_clean["Produktname"][0:len(df_to_clean["Produktname"])]):
    set_of_entries=set_of_entries.union(set(str(product)))
    
print(set_of_entries)

end = time.time()
print(end - start)

Latin_alphabet_and_numbers={"A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q",
                        "R","S","T","U","V","W","X","Y","Z","a","b","c","d",
                        "e","f","g","h","i","j","k","l","m","n","o","p","q",
                        "r","s","t","u","v","w","x","y","z","1","2","3","4","5","6","7","8","9","0"}
print(set_of_entries-Latin_alphabet_and_numbers)

{'3', "'", '–', 'm', 'h', 'l', 'Ã', 'Â', 'Ÿ', 'J', 'U', 'f', 'z', 'R', 'C', '¶', 'N', 'n', 'D', 'I', 'r', 'W', 'c', '7', '#', 'Q', '8', 'M', '%', 'X', 'b', '9', 'Z', 'k', 'u', 'w', 'O', 'p', 'A', '1', '¤', 'P', '.', 'S', 'F', 'y', 's', 'V', '/', 't', 'Y', 'E', 'i', 'œ', '5', 'B', 'H', 'e', 'q', 'L', '0', 'd', '2', '„', '6', 'o', 'x', '-', '4', 'g', 'T', '´', '+', '&', 'a', 'K', 'v', 'G', ' '}
1.2370173931121826
{'3', "'", '–', 'm', 'h', 'l', 'Ã', 'Â', 'Ÿ', 'J', 'U', 'f', 'z', 'R', 'C', '¶', 'N', 'n', 'D', 'I', 'r', 'W', 'c', '8', '#', 'Q', '7', 'M', '%', 'X', 'b', '9', 'Z', 'k', 'u', 'w', 'O', 'p', 'A', '1', '¤', 'P', '.', 'S', 'F', 'y', 's', 'V', '/', 't', 'Y', 'E', 'i', '5', 'œ', 'B', 'H', 'e', 'q', 'L', '0', 'd', '2', '„', '6', 'o', 'x', '-', '4', 'g', 'T', '´', '+', '&', 'a', 'K', 'v', 'G', ' '}
0.08006453514099121
{'Â', "'", 'Ÿ', '/', '„', ' ', '%', '´', '–', '+', '&', '¶', 'œ', '#', '¤', '-', '.', 'Ã'}

In [22]:
#df_to_clean["Produktname"][:50]
founded_words=[]
token_to_search=input("Please enter the character you would like to find: ")
for product in df_to_clean["Produktname"]:
    if token_to_search in set(str(product)):
        founded_words.append(product)
set_founded_words=set(founded_words)
print("There are", len(founded_words), "entries with '"+token_to_search+"'.")
print("There are", len(set(set_founded_words)), "unique entries with'"+token_to_search+"'.")
print()
print("The unique entries are:")
for word in set_founded_words:
    print(word)
    #print(len(word))#df_to_clean[df_to_clean["Produktname"]==word])

Please enter the character you would like to find: ¶
There are 1153 entries with '¶'.
There are 1 unique entries with'¶'.

The unique entries are:
Mineralwasser VÃ¶slauer
24

In [5]:
#word_to_show=input("Please enter the word you would like to search: ")
df_to_clean[df_to_clean["Produktname"]=="Mineralwasser VÃ¶slauer "]

,Datum/Zeit,Produkt#,Produktname,Menge,Einzelpreis,Gesamtpreis
110,2018:03:01:20:17:26,1605,Mineralwasser VÃ¶slauer,1.0,2.3,2.3
725,2018:03:03:01:48:18,1605,Mineralwasser VÃ¶slauer,1.0,2.3,2.3
830,2018:03:03:20:35:02,1605,Mineralwasser VÃ¶slauer,1.0,2.3,2.3
1004,2018:03:03:22:43:42,1605,Mineralwasser VÃ¶slauer,1.0,2.3,2.3
1250,2018:03:05:19:49:13,1605,Mineralwasser VÃ¶slauer,1.0,2.3,2.3
...,...,...,...,...,...,...
180634,2020:03:12:17:21:55,1605,Mineralwasser VÃ¶slauer,1.0,2.3,2.3
180670,2020:03:12:20:28:08,1605,Mineralwasser VÃ¶slauer,1.0,2.3,2.3
180681,2020:03:12:21:10:19,1605,Mineralwasser VÃ¶slauer,1.0,2.3,2.3
180693,2020:03:12:21:20:44,1605,Mineralwasser VÃ¶slauer,-1.0,2.3,-2.3
180694,2020:03:12:21:20:44,1605,Mineralwasser VÃ¶slauer,1.0,2.3,2.3

In [55]:
dataset=df_to_clean.copy()

In [56]:
initial_type=dataset.dtypes["Menge"]
print(initial_type)
dataset["Menge"]=dataset["Menge"].astype('str')
new_type=dataset.dtypes["Menge"]
print(new_type)
new_dataset=dataset[dataset["Menge"]=="1.0"].copy()

float64
object

In [58]:
new_dataset.dtypes["Menge"]
new_dataset["Menge"]=new_dataset["Menge"].astype(initial_type)
new_dataset.dtypes["Menge"]
new_dataset.head()

,Datum/Zeit,Produkt#,Produktname,Menge,Einzelpreis,Gesamtpreis
0,2018:03:01:17:06:54,1063,BIEROL PADAWAN 0.30,1.0,4.3,4.3
1,2018:03:01:17:11:49,1155,PINZGA ZWICKL PITCHER,1.0,13.2,13.2
2,2018:03:01:17:11:50,1801,Flammkuchen Traditionell,1.0,6.8,6.8
3,2018:03:01:17:11:58,1803,Flammkuchen Vegetarisch,1.0,6.8,6.8
4,2018:03:01:17:16:06,1018,FRAU GRUBER GREEN IS LORD 0.30,1.0,4.8,4.8

# dealing with nan

In [2]:
df_to_clean = pd.read_csv("to_try.csv", sep=";")

In [3]:
df_to_clean

,Datum/Zeit,Produkt#,Produktname,Menge,Einzelpreis,Gesamtpreis
0,2018:03:01:17:06:54,1063,BIEROL PADAWAN 0.30,NaN,4.3,4.3
1,2018:03:01:17:11:49,1155,PINZGA ZWICKL PITCHER,1.0,13.2,13.2
2,2018:03:01:17:11:50,1801,Flammkuchen Traditionell,1.0,6.8,6.8
3,2018:03:01:17:11:58,1803,Flammkuchen Vegetarisch,1.0,6.8,6.8
4,2018:03:01:17:16:06,1018,FRAU GRUBER GREEN IS LORD 0.30,1.0,4.8,4.8
...,...,...,...,...,...,...
180716,2020:03:12:22:12:24,1101,NEXT LEVEL DOUBLE TROUBLE 0.10,1.0,2.6,2.6
180717,2020:03:12:22:12:36,1607,THOMAS HENRY GINGERBEER,1.0,3.4,3.4
180718,2020:03:12:22:12:38,10219,NITTENAUER IPA,1.0,4.8,4.8
180719,2020:03:12:22:12:42,1013,BIEROL PADAWAN 0.30,2.0,3.8,7.6
180720,2020:03:12:22:12:57,10190,SAND MARIA MAGDALENA,1.0,6.9,6.9

In [18]:
def construction_missing_values(dataset, data_columns):

    missing_values_dataset=dataset.copy()

    missing_identificator=np.full(len(dataset),True)

    for column in data_columns:
        missing_identificator=missing_identificator*(1-missing_values_dataset[column].isnull())

    missing_values_dataset["missing value"]=missing_identificator
    missing_values_dataset=missing_values_dataset[missing_values_dataset["missing value"]==0]

    missing_values_dataset=missing_values_dataset.drop("missing value", axis=1)

    print(missing_values_dataset)

    return (missing_values_dataset)

In [20]:
data_columns=df_to_clean.columns
missing_values_dataset=construction_missing_values(df_to_clean, data_columns).copy()
print(missing_values_dataset)

                Datum/Zeit  Produkt#           Produktname  Menge  \
0      2018:03:01:17:06:54      1063  BIEROL PADAWAN  0.30    NaN
90150  2019:03:19:17:46:43      1091                   NaN    1.0

       Einzelpreis  Gesamtpreis
0              4.3          4.3
90150          2.5          2.5
                Datum/Zeit  Produkt#           Produktname  Menge  \
0      2018:03:01:17:06:54      1063  BIEROL PADAWAN  0.30    NaN
90150  2019:03:19:17:46:43      1091                   NaN    1.0

       Einzelpreis  Gesamtpreis
0              4.3          4.3
90150          2.5          2.5

In [17]:
missing_values_dataset["Menge"]

0        NaN
90150    1.0
Name: Menge, dtype: float64

Just try

In [4]:
missing_values_dataset=df_to_clean.copy()

In [5]:
missing_identificator=np.full(len(df_to_clean),True)
data_columns=missing_values_dataset.columns
for column in data_columns:
    missing_identificator=missing_identificator*(1-df_to_clean[column].isnull())

In [6]:
missing_values_dataset["missing value"]=missing_identificator
missing_values_dataset[missing_values_dataset["missing value"]==0]

,Datum/Zeit,Produkt#,Produktname,Menge,Einzelpreis,Gesamtpreis,missing value
0,2018:03:01:17:06:54,1063,BIEROL PADAWAN 0.30,NaN,4.3,4.3,0
90150,2019:03:19:17:46:43,1091,NaN,1.0,2.5,2.5,0

In [7]:
missing_values_dataset=missing_values_dataset.drop("missing value", axis=1)
missing_values_dataset

,Datum/Zeit,Produkt#,Produktname,Menge,Einzelpreis,Gesamtpreis
0,2018:03:01:17:06:54,1063,BIEROL PADAWAN 0.30,NaN,4.3,4.3
1,2018:03:01:17:11:49,1155,PINZGA ZWICKL PITCHER,1.0,13.2,13.2
2,2018:03:01:17:11:50,1801,Flammkuchen Traditionell,1.0,6.8,6.8
3,2018:03:01:17:11:58,1803,Flammkuchen Vegetarisch,1.0,6.8,6.8
4,2018:03:01:17:16:06,1018,FRAU GRUBER GREEN IS LORD 0.30,1.0,4.8,4.8
...,...,...,...,...,...,...
180716,2020:03:12:22:12:24,1101,NEXT LEVEL DOUBLE TROUBLE 0.10,1.0,2.6,2.6
180717,2020:03:12:22:12:36,1607,THOMAS HENRY GINGERBEER,1.0,3.4,3.4
180718,2020:03:12:22:12:38,10219,NITTENAUER IPA,1.0,4.8,4.8
180719,2020:03:12:22:12:42,1013,BIEROL PADAWAN 0.30,2.0,3.8,7.6
180720,2020:03:12:22:12:57,10190,SAND MARIA MAGDALENA,1.0,6.9,6.9

In [20]:
missing_values_dataset=missing_values_dataset.drop(0, axis=0)
missing_values_dataset

,Datum/Zeit,Produkt#,Produktname,Menge,Einzelpreis,Gesamtpreis
1,2018:03:01:17:11:49,1155,PINZGA ZWICKL PITCHER,1.0,13.2,13.2
2,2018:03:01:17:11:50,1801,Flammkuchen Traditionell,1.0,6.8,6.8
3,2018:03:01:17:11:58,1803,Flammkuchen Vegetarisch,1.0,6.8,6.8
4,2018:03:01:17:16:06,1018,FRAU GRUBER GREEN IS LORD 0.30,1.0,4.8,4.8
5,2018:03:01:17:16:09,1023,WILDBEER TEPACHE 0.30,1.0,5.8,5.8
...,...,...,...,...,...,...
180716,2020:03:12:22:12:24,1101,NEXT LEVEL DOUBLE TROUBLE 0.10,1.0,2.6,2.6
180717,2020:03:12:22:12:36,1607,THOMAS HENRY GINGERBEER,1.0,3.4,3.4
180718,2020:03:12:22:12:38,10219,NITTENAUER IPA,1.0,4.8,4.8
180719,2020:03:12:22:12:42,1013,BIEROL PADAWAN 0.30,2.0,3.8,7.6
180720,2020:03:12:22:12:57,10190,SAND MARIA MAGDALENA,1.0,6.9,6.9

In [30]:
files_to_convert=["data", "records", "blog"]
for file_of_data in files_to_convert:
    file_name=file_of_data+".xlsx"
    df_to_convert = pd.read_excel(file_name)
    new_file="../public/new"+file_of_data+".csv"
    df_to_convert.to_csv(new_file, index = False, sep=';', quoting=1)

In [8]:
df_to_convert = pd.read_excel("blog.xlsx")
df_to_convert.head()

,Author,Tags,Title,Entry,Date,Image
0,Webmaster,"Meeting, Online Activity","RIMS Set Theory Workshop 2022, 25-28 October",The RIMS Set Theory Workshop 2022 on New Devel...,"October 5, 2022.",NaN
1,Webmaster,Seminars Activity,Baltic set theory seminar,\n\nThe Baltic set theory seminar begins on Oc...,"September 27, 2022.",NaN
2,Webmaster,"Announcements, Online Activities","CMU core model seminar, beginning next week",The online seminar will begin next Tuesday. Pl...,"September 6, 2022.",NaN
3,Webmaster,"Announcements, Online Activities","Stuk 8 in Leeds, Friday 16 September",This is a reminder that the next iteration of ...,"September 6, 2022.",NaN
4,Webmaster,"Job, Announcement",5th Hausdorff Medal 2022,he Hausdorff committee unanimously recommended...,"September 1, 2022.",https://ests.files.wordpress.com/2022/09/tredi...

In [9]:
df_to_convert.to_csv(name_export_file, index = False)